@media (max-width: 1200px){
    .content{
        width: 1200px;
    }
    .footer{
        width: 1135px;
    }
}


.modifyPwd{
    width: 100%;

    border: 1px solid #dddddd;
    background: white;
}

.modifyPwd .PwdTitle p{
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #dddddd;
}
.modifyPwd .formWarp{
    padding: 10% 0;
}
.modifyPwd .modifyPwdForm {
    width: 250px;
}
.modifyPwd .modifyPwdForm .form-group{
	margin-bottom: 20px;
}
.modifyPwd .modifyPwdForm input{
    width: 220px;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #dddddd;
}
.modifyPwd .modifyPwdForm button#modifyBtn{
    margin-right: 60px;
}
button#modifyBtn{
    padding: 6px 20px;
    color:#ffffff;
    background:#3B3B3B;
    border: 1px solid #3B3B3B;
}
button#reLogin{
    padding: 6px 24px;
}

.footer{
   margin: 60px 60px 0px 60px;
padding: 30px;
    font-size: 15px;
}

body{
    background: #f4f4f4;
}
.content{
    padding: 100px 60px 0 60px;

}
